* {
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #c89b3c;
}
ul{
    list-style:none;
}
p{
    margin: 0;
    font-size: clamp(0.9em, 1.2vw, 2em);
}
h1{
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    color: #ffffff;
}
h2,h3{
    margin: 0;
}
h2{
    font-size: clamp(1.3rem, 2.5vw, 3rem);
}
a{
    text-decoration: none;
}
a:hover,
button:hover{
    cursor: pointer;
}
.header-nav-container{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #f5f3ef;
}
header{
    display: flex;
    align-items: center;
    gap: 1em;
    background: transparent;
}
header img{
    height: clamp(2.5rem, 5vw, 3.5rem);
    margin: 0 0 0 2em;
}
.web-name{
    margin: 0 1rem 0 0;
    color: #222;
}
.webpage-navigation{
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #0f0f0f;
    border-radius: 2em 0 0 2em;
    display: flex;
}
.webpage-navigation > ul{
    display: flex;
    gap: 15px;
   
}
.webpage-navigation > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.nav-links{
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.nav-links:hover{
    color: darkgoldenrod;
    transition: 0.3s;
}
.to-login-html-button,
.to-register-html-button{
    color: #c89b3c;
    font-size: clamp(0.6rem, 0.9rem, 1.5em); 
}
.to-login-html-button:hover,
.to-register-html-button:hover{
    color: #ffffff;
}
.webpage-navigation > ul > li:nth-child(5){
    margin: auto 1em;
    padding: 0;
}
.user-container{
    display: flex;
    width: clamp(60px, 10vw, 90px);
    margin: auto 0;
    display: flex;
    flex-direction: column; 
}
.user-container >div{
    display: flex;
    gap: 5px;
    width: 90%;
    overflow: hidden;
}
.user-container >div> span,
.user-container >div> p{
    font-size: clamp(0.6rem, 0.8rem, 1.5em); 
    color: #ffffff;
}
.logout-button{
    width: 90%;
    font-size: clamp(0.6rem, 0.8vw, 1.2rem);
    border: none;
    background-color: goldenrod;
    padding: 4px 8px;
    border-radius: 0.25em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.logout-button:hover{
    cursor: pointer;
    color: #ffffff;
}
#mobile-nav{
    display: none;
}
@media only screen and (max-width:599px){
    header img{
        margin: 0 0 0 1em;
    }
    .webpage-navigation > ul{
        display: none;
        gap: unset;
    }
    .user-container{
        display: none;
    }
/*    #mobile-nav{
        width: 100%;
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: goldenrod;
        z-index: 9999;
        border-top: 1px black solid;
    }
    #burger-close{
        display: none;
    }
    #mobile-nav> div> img{
        width: 30px;
    }
    .mobile-icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-icons> button{
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-icons> button> img{
        width: inherit;
        height: inherit;
        margin: auto;
    }
    .mobile-icons> p{
        font-size: 12px;
        margin: 0;
        padding: 0;
    } */
}
@media (min-width: 600px) and (max-width: 768px){
    header img{
        margin: 0 0 0 1em;
    }
    .webpage-navigation > ul{
        gap: 3px; 
    }
}



.first-section-container{
    height: clamp(250px, 60vw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.first-section-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}
.first-section-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/index/firstSection/delicious-coffee-cup-indoors.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    filter: blur(2px);
    transform: scale(1.03);
    z-index: -1;
}
.first-section-container-text,
.first-section-container-link{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.first-section-container-text> h2,
.first-section-container-text> p,
.first-section-container-text> a{
    margin: 0 0 0 clamp(30px, 10vw, 100px);
    color: #3B3030;
}
.first-section-container-text> h2{
    font-size: clamp(1.3rem, 2.5vw, 3rem);
    width: clamp(40%, 2vw, 90%);
    color: #e6b566;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}
.first-section-container-text> p:nth-child(2){
    margin-top: 20px;
    color: #ffffff;
    width: clamp(200px, 50vw, 500px);
    font-size: clamp(1.1rem, 1.8vw, 2rem);
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}
.first-section-container-text> p:nth-child(3){
    color: #ffffff;
    font-weight: bolder;
    margin-top: 50px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}
.first-section-container-text> a{
    width: fit-content;
    padding: 10px 15px;
    background-color: #c89b3c;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 1em;
    box-shadow: 3px 3px 6px #3B3030;
}
.first-section-container-text> a:hover{
    color: #c89b3c;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.3s;
    box-shadow: 3px 3px 6px #c89b3c;
}
@media only screen and (max-width: 599px){
    .first-section-container-text> p{
        display: none; 
    }
    .first-section-container-text> h2{
        width: 70%; 
    }
    .first-section-container-text> a{
        margin-top: 40px;
    }
}




.second-section-container{
    width: 100%;
    display: flex;
    padding: 30px 0;
    gap: 1em;
    padding-bottom: 50px;
    background-color: #E6D3A3;
}
.second-section-container-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
}
.second-section-container-text > h2,
.second-section-container-text > p,
.coffee-selection{
    width: 100%;
}
.second-section-container-text > h2{
    margin-top: 30px;
}
.second-section-container-text > p{
    margin-top: 1.5em;
}
.second-section-container-text > h2,
.second-section-container-text > p,
.second-section-container-text > ul{
    padding-left: clamp(20px, 5vw, 80px);
    
}
.coffee-selection{
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap; 
}
.coffee-selection > li{
    padding: 3px 5px;
}
.coffee-selection > li > button{
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    color: black;   
    border: none;
    background-color: transparent;
}
.coffee-selection > li >button:hover{
    cursor: pointer;
    color: whitesmoke;
    transition: 0.3s;
}
.coffee-selection > li > button.currentSelected{
    transform: scale(1.09);
    color: whitesmoke;
}
.coffee-selection-text{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 1;
}   
.coffee-selection-text.selectedCoffee{
    display: flex;
}
.coffee-selection-text> h3{
    margin-top: 2.5em;
}
.coffee-selection-text> p{
    margin: 
    10px 
    clamp(5px, 2vw, 40px) 
    20px 
    clamp(5px, 2vw, 40px);
    width: 80%;
    
}
.coffee-selection-text-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: auto;
}
.coffee-images{
    width: clamp(80px, 20vw, 300px);
    height: clamp(80px, 20vw, 300px);
    border-radius: 1em;
    box-shadow: 2px 3px 6px #85746b;
    transition: height 0.3s ease;
}

.coffee-selection-text.small-text .coffee-images{
    height: clamp(200px, 20vw, 400px);
}

.coffee-selection-text.medium-text .coffee-images{
    height: clamp(130px, 15vw, 320px);
}

.coffee-selection-text.large-text .coffee-images{
    height: clamp(80px, 13vw, 200px);
}
@media only screen and (max-width: 599px){
    .second-section-container{
        min-width: 100%; 
        justify-content: start; 
        gap: unset;
        padding-bottom: 0;
        height: auto;
        overflow: hidden; 
    }
    .second-section-container-text{
        display: none; 
    }
    .coffee-selection-text{
        display: flex; 
        align-items: center;
        text-align: unset;
        min-width: 100%;
        margin-top: 0;
        transition: transform 0.4s ease;
    }
    .coffee-selection-text h3{
        margin: 1em 0 0 0; 
    }
    .coffee-selection-text p{
        margin: 1em 0 0 0; 
        width: 95%; 
        height: auto; 
        max-height: unset; 
    }
    .coffee-selection-text-images{
        gap: 1em; 
        margin-top: 1em; 
        padding: 0 1em 10px 1em;
    }
    .coffee-images{
        width: clamp(130px, 40vw, 300px); 
        height: clamp(80px, 40vw, 300px); 
    }
    .second-section-container> div:nth-child(4){
        flex-direction: column; 
    }
    .second-section-container> div:nth-child(4)>div:nth-child(3)>img,
    .second-section-container> div:nth-child(5)>div:nth-child(3)>img{
        width: clamp(130px, 40vw, 300px); 
        height: clamp(150px, 32vw, 300px);
    }

    #mocha-images{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #mocha-images>img{
        width: clamp(100px, 30vw, 300px); 
        height: clamp(100px, 30vw, 300px);  
    }
    .mobile-slider-dots{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: auto 0;
        border-bottom: 1px black solid;
    }
    .mobile-dot{
        display: inline-block;
        width: 20px;
        height: 10px;
        border-radius: 0.25em;
        margin: 0.2em;
        background: rgb(0, 0, 0);
        border: 1px black solid;
    }
    .mobile-dot.activeCoffee{
        background: goldenrod;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .second-section-container-text{
       gap: 10px;
    }
    .second-section-container-text > h2{
        margin-top: 0;
        width: 90%; 
    }
    .second-section-container-text > p{
        margin-top: 0; 
        width: 90%;
    }
    .coffee-selection{
        padding: 10px 0;
    }
    .coffee-selection-text h3{
        margin-top: 0;
    }
    .coffee-selection-text> p{
        width: 90%;
    }
    
}