



/*Services HTML*/


.service-third-section-container{
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: goldenrod;
}
.service-third-section-container> h2{
    padding: 
    clamp(15px, 5vw, 40px) 0;
    margin: 0 0 0 50px;
     color: #4F3727;
}
.bread-container-text{
    background-image: url('../images/services/thirdSection/vecteezy_fresh-bread-on-dark-background_5042859.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 100px 0;
    height: clamp(250px, 30vw, 600px);
}
.bread-container-text> p{
    margin-left: 50px;
    font-size: clamp(1.1rem, 2vw, 2rem);
}
.bread-container-text> ul{
    padding: 0;
    margin-left: 50px;
   
}
.bread-container-text> ul> li{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: 2px 0;
}
.relaxing-container{
    width: 100%;
    margin: 0 auto;
    padding:  50px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.relaxing-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0, 0.1);
    z-index: -1;
}
.relaxing-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0, 0.1);
    z-index: -1;
    background-image: url('../images/services/fourthSection/high-angle-view-delicious-espresso-coffee-cup-white-wooden-table.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    transform: scale(1.06);
}
.relaxing-container> div{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    gap: 3em 0;
    width: 70%;
}
.relaxing-container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.relaxing-container-text> p{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    width: 80%;
    text-align: center;
}
.relaxing-container-text> a{
    width: fit-content;
    padding: clamp(10px, 1vw, 20px)
    clamp(5px, 2vw, 10px);
    margin-top: 50px;
    font-size: clamp(0.8rem, 1rem, 1.5rem);
    background-color: goldenrod;
    border: none;
    border-radius: 0.25em;
    box-shadow: 2px 3px 6px #85746b;
    color: black;
}
.relaxing-container-text> a:hover{
    cursor: pointer;
    color: goldenrod;
    background-color: black;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.3s;
}
.relaxing-container> div> img:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.relaxing-container> div> img:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.relaxing-container> div> img:last-child{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.relaxing-container> div> img:nth-child(3),
.relaxing-container> div> img:nth-child(2),
.relaxing-container> div> img:last-child{
    box-shadow: 0 3px 6px #85746b;
}
.relaxing-container> div> img{
    width: clamp(150px, 20vw, 600px);
    height: clamp(130px, 20vw, 500px);
    margin: 0 auto;
    width: 90%;
    border-radius: 1em;
}
.service-fourth-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(20px, 10vw, 40px) 0;
    background-color: goldenrod;
}
.service-fourth-section-container> p{
    font-size: clamp(1rem, 1.3vw, 1.7rem);
    width: 90%;
    margin: 0 auto;
}
@media only screen and (max-width: 599px){
.service-third-section-container> h2,
    .bread-container-text> p,
    .bread-container-text> ul{
        margin-left: 20px;
    }
    .relaxing-container{
        background-image: unset; 
        padding: 0; 
    }
     .relaxing-container> div{
        display: grid;
        grid-template-columns: auto auto auto; 
        grid-template-rows: 1fr 1fr;
        padding: 30px 0;
        gap: 20px 0; 
        width: 100%; 
        background-color: goldenrod;
    }
     .relaxing-container-text{
        grid-column-start: 1; 
        grid-column-end: 4; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }
    .relaxing-container-text> a{
        margin-top: 20px; 
        background-color: rgb(0, 0, 0); 
        color: rgb(255, 255, 255); 
    }
    .relaxing-container> div> img:nth-child(2){
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
    .relaxing-container> div> img:nth-child(3){
        grid-column-start: 2; 
        grid-column-end: 3; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
    .relaxing-container> div> img:last-child{
        grid-column-start: 3; 
        grid-column-end: 4; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
    .service-fourth-section-container{
        padding: 10px 0 80px 0;
    }
}
@media (min-width: 600px) and (max-width:768px){
    

    .bread-container-text{
        justify-content: center; 
        padding: 0; 
    }

    .relaxing-container{
        background-image: unset; 
        padding: 0; 
    }
    .relaxing-container> div{
        display: grid;
        grid-template-columns: auto auto auto; 
        grid-template-rows: 1fr 1fr;
        padding: 30px 0;
        gap: 20px 0; 
        width: 100%; 
        background-color: goldenrod;
    }
    .relaxing-container-text{
        grid-column-start: 1; 
        grid-column-end: 4; 
        grid-row-start: 1; 
        grid-row-end: 2; 
    }
    .relaxing-container-text> a{
        margin-top: 20px; 
        background-color: rgb(0, 0, 0); 
        color: rgb(255, 255, 255); 
    }
    .relaxing-container> div> img:nth-child(2){
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
    .relaxing-container> div> img:nth-child(3){
        grid-column-start: 2; 
        grid-column-end: 3; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
    .relaxing-container> div> img:last-child{
        grid-column-start: 3; 
        grid-column-end: 4; 
        grid-row-start: 2; 
        grid-row-end: 3; 
    }
}
/*About us HTML*/
.about-us-body-container{
    background-color: unset;
} 
.about-us-content-image-container{
    width: clamp(200px, 70vw, 1300px);
    height: clamp(250px, 25vw, 1000px);
    margin: 2em auto 0 auto;
    position: relative;
}
.about-us-content-image-container> img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.about-us-content-image-container> h2{
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background-color: white;
    font-size: clamp(2rem, 5vw, 4rem);
    border-radius: 0 1em 0 0;
    color: goldenrod;
}
.about-us-content-text-container{
    display: flex;
}
.about-us-second-section-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 2em;
    padding: 50px 0;
}
.about-us-content-text-container{
    flex-direction: column;
    width: 50%;
}
.about-us-content-text-container> h3{
    font-size: clamp(1.5rem, 3vw, 3rem);
}
.about-us-content-text-container > p{
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    line-height: 1.5;
}
.about-us-content-text-container > p:nth-child(2){
    padding: 15px 0;
}
.about-us-content-text-container > p:nth-child(3){
    margin-top: 50px;
}
.about-us-content-text-container > p:nth-child(6){
    padding-bottom: 20px;
}
.why-us-images{
    width: 50%;
    position: relative;
}
.why-us-images> img{
    width: clamp(200px, 30vw, 1300px);
    height: clamp(100px, 15vw, 800px);
    border-radius: 0.5em;
    box-shadow: 2px 3px 6px #85746b;
}
.why-us-images> img:first-child{
    margin-top: 70px;
}
.why-us-images> img:nth-child(2){
    position: absolute;
    top: clamp(25%, 30%, 40%);
    right: 0;
}
.why-us-images> img:nth-child(3){
    position: absolute;
    top: 52%;
    left: 0;
}
.why-us-images> img:last-child{
    position: absolute;
    top: clamp(60%, 74%, 100%);
    right: 0;
}
.about-us-third-section-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}
.about-us-third-section-image{
    width: 50%;
}
.about-us-third-section-image> img{
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: 2px 3px 6px #85746b;
}
.mission-vission-container{
    width: 50%;
    display:  flex;
    flex-direction: column;
}
.mission> h3,
.vission> h3{
    width: 80%;
    margin: 0 auto;
    font-size: clamp(1.5rem, 3vw, 3rem);
    padding: 10px 20px;
    box-shadow: 2px 3px 6px #85746b;
}
.mission> p,
.vission> p{
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    padding: 20px 0;
}
.mission> h3{
    display: flex;
    justify-content: end;
}
.about-us-fourth-section-container{
    background-image: url('../images/aboutUs/fourthSection/roast.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about-us-fourth-section-container::after{
    content: "";
    border: 1px rgb(255, 255, 255) solid;
    width: clamp(10%, 25%, 30%);
    position: absolute;
    top: 50%;
    right: 5%;
}
.about-us-fourth-section-container::before{
    content: "";
    border: 1px rgb(255, 255, 255) solid;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 5%;
}
.about-us-fourth-section-container> h3{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-us-fourth-section-container> ul{
    display: flex;
}
.about-us-fourth-section-container> ul> li{
    padding: 0 10px;
}
.about-us-fourth-section-container> ul> li> a{
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);
}
.about-us-fourth-section-container> ul> li> a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 599px){
    .about-us-content-image-container{
        width: 90%; 
        margin: 1em auto 0 auto; 
    }
    .about-us-content-image-container> h2{
        padding: 5px 15px; 
    }
    .about-us-second-section-container{
        width: 100%; 
        padding: 20px 0 0 0; 
    }
    .about-us-content-text-container{
        width: 90%; 
        margin: 0 auto;
    }
    .about-us-content-text-container > p:nth-child(3){
        margin-top: 0px; 
    }
    iframe{
        width: 100%; 
    }
    .why-us-images{
        display: none; 
    }
    .about-us-third-section-container{
        width: 100%; 
        padding: 50px 0 0 0; 
        flex-direction: column; 
    }
    .about-us-third-section-image{
        width: 90%; 
        margin: 0 auto; 
    }
    .mission-vission-container{
        width: 90%; 
        flex-direction: row; 
        gap: 1em; 
        margin: 0 auto; 
    }
    .mission> h3,
    .vission> h3{
        width: 100%; 
    }
    .mission> p,
    .vission> p{
        width: 100%; 
    }
    .mission> h3{
        justify-content: start; 
    }
    .about-us-fourth-section-container{
        display: none; 
    }
    /*These below are needed for 540*/
    .about-us-mobile-container{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: goldenrod;
        z-index: 99;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
        overflow-x: auto;
    }
    .activeInput {
        transform: translateX(0);
        opacity: 1;
    }
    .mobile-footer-wraper{
        width: 100vw;
        display: flex;
    }
    .mobile-footer-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }.mobile-footer-page-links{
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .mobile-footer-links-title{
        color: goldenrod;
        width: 150px;
    }
    .mobile-footer-nav{
        display: flex;
        gap: 1.5em;
        padding: 0;
    }
    .mobile-footer-nav-2{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .mobile-footer-nav> li> a> img{
        width: 30px;
    }
    .mobile-footer-contact-items{
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .mobile-footer-contact-items> p{
        color: whitesmoke;
    }
    .mobile-footer-contact-items> img{
        width: 20px;
        padding: 5px 0;
    }
    .mobile-footer-second-container{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .mobile-footer-reserved{
        width: 90%;
        margin: 10px auto 0 auto;
        color: whitesmoke;
        text-align: center;
    }
    .mobile-footer-payment-methods{
        width: 100vw;
        text-align: center;
        color: goldenrod;
        margin-top: 20px;
    }
    .mobile-footer-second-container-images{
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
        gap: 1em;
    }
    .mobile-payment-cards{
        width: 50px;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .about-us-second-section-container{
        width: 95%; 
        gap: 10px; 
        padding: 30px 0; 
    }
    .about-us-content-text-container > p:nth-child(3){
        margin-top: 10px; 
    }
    .about-us-content-text-container > p:nth-child(6){
        padding-bottom: 10px; 
    }
    iframe{
        width: 100%;
    }
    .why-us-images> img:first-child{
        margin-top: 50px; 
    }
    .why-us-images> img:nth-child(2){
        top: 150px; 
    }
    .why-us-images> img:nth-child(3){
        top: 250px; 
    }
    .why-us-images> img:last-child{
        top: 350px; 
    }
    .about-us-third-section-container{
        width: 95%; 
        padding: 30px 0; 
        gap: 15px; 
    }
    .about-us-third-section-image{
        display: flex; 
        align-items: center; 
    }
    .about-us-third-section-image> img{
        height: 80%; 
    }
    .mission> h3,
    .vission> h3{
        width: 100%; 
    }
    .mission> p,
    .vission> p{
        width: 100%; 
        padding: 10px 0; 
    }
    .about-us-fourth-section-container{
        padding: 10px 0; 
    }
    .about-us-fourth-section-container::after{
        min-width: 2%; 
        max-width: 10%; 
        width: 8%; 
    }
    .about-us-fourth-section-container::before{
        min-width: 2%; 
        max-width: 10%; 
        width: 8%; 
        left: 3%; 
    }
}
/*Cart HTML*/
.cart-title{
    width: 100%;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 50px;
    border-bottom: 1px gray solid;
}
.item-in-cart-container{
    width: 100%;
    margin: 0 auto;
}
.cart-item-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px black solid;
    margin: 0;
    padding: 0;
}
.cart-item-container{
    width: 90%;
    margin: 5px auto;
    display: flex;
    align-items: flex-end;
    border: 1px gray solid;
}
.item-info{
    flex: 40%;
    display: flex;
}
.price,
.quantity,
.total{
    flex: 20%;
}
.item-info img{
    width: clamp(150px, 10vw, 200px);
}
.item-cart-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.item-cart-description> span{
    font-weight: bolder;
    color: goldenrod;
}
.item-cart-description> button{
    width: fit-content;
    margin-top: auto;
    margin-bottom: 45px;
    border: none;
    font-weight: 500;
    background-color: goldenrod;
    padding: 5px 20px;
    border-radius: 0.25em;
}
.price,
.quantity,
.total{
    text-align: right;
    margin-bottom: 45px;
}
.quantity> h3{
    display: none;
}
.quantity> button{
    border: none;
    background-color: goldenrod;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 0.25em;
}
.item-cart-description> button,
.quantity> button:hover{
    cursor: pointer;
}
.quantity> span{
    padding: 0 20px;
}
.price> h3> span,
.total> h3> span{
    font-weight: 100;
}
.price>h3,
.total> h3{
    display: flex;
    justify-content: end;
    position: relative;
    margin-right: 50px;
}
.price>h3> span,
.total> h3> span{
    position: absolute;
    bottom: 0;
    right: -50px;
}
.total{
    margin-right: 10px;
}
.cart-checkout-container{
   padding-bottom: 150px;
}
.cart-checkout-container> div{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-checkout-container> div> p{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: bold;
    position: relative;
}
.cart-checkout-container> div> p> span{
    position: absolute;
    right: -100px;
    bottom: 0;
    font-weight: 100;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}
.cart-checkout-container> div> button{
    width: fit-content;
    margin-left: auto;
    padding: 10px 20px;
    border: none;
    background-color: goldenrod;
    border-radius: 0.25em;
}
@media only screen and (max-width: 599px){
    .cart-title{
        margin-top: 20px;
        padding-bottom: 20px; 
    }
    .cart-item-container{
        width: 90%;
        margin: 5px auto;
        display: flex;
        align-items: flex-start; 
        flex-direction: column; 
    }
    .quantity> h3{
        display: flex;
    }
    .item-cart-description{
        margin-right: 10px;
    }
    .price,
    .quantity,
    .total{
        text-align: left; 
        margin-left: 40px; 
        margin-bottom: 10px; 
        display: flex; 
    }
    .quantity> button:nth-child(2){
         margin-left: 10px; 
    }
    .cart-checkout-container> div{
        margin: 10px auto 0 auto;
        gap: 10px; 
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .cart-title{
        margin-top: 30px; 
        padding-bottom: 20px; 
    }
    .item-info{
        flex: 35%; 
    }
    .item-info> img{
        width: clamp(70px, 120px, 200px);
        height: 45%;
    }
    .item-cart-description> button{
        margin-bottom: 15px; 
    }
    .price,
    .quantity,
    .total{
        margin-bottom: 15px; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .quantity{
        flex: 25%; 
        display: flex; 
        justify-content: center; 
    }
    .price, .total{
        flex: 15%;
        font-size: clamp(0.7rem, 0.8rem, 1.1rem); 
        gap: 0;
    }
    .price>h3,
    .total> h3{
        justify-content: flex-end; 
    }
    .price>h3> span,
    .total> h3> span{
        left: 0; 
    }
    .total{
        margin-right: 0; 
    }
    .cart-checkout-container> div{
        margin: 10px auto 0 auto; 
        gap: 10px; 
    }
    .cart-checkout-container> div> p> span{
        right: -90px; 
    }
}

/*Reservation HTML*/
.single-seat-window{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.single-window-table{
    display: flex;
    justify-content: center;
    gap: clamp(0.5rem, 2vw, 2rem);
}
.single-window-table> li> label> img{
    width: clamp(60px, 9vw, 170px);
    height: clamp(50px, 7vw, 140px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-window-table> li> label> input{
    display: none;
}
.single-window-table> li{
    position: relative;
}
.single-window-table> li> label> span{
    position: absolute;
    top: 33%;
    left: 30%;
    padding: 0;
    margin: 0;
    font-size: clamp(1.3rem, 1.4vw, 1.8rem);
}
.multi-seat-container{
    display: flex;
}
.double-seat-window{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.double-seat-window> h3{
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.double-seat-window-table{
    display: flex;
    flex-direction: column;
    gap: 1em; 
}
.double-seat-window-table> li{
    position: relative;
}
.double-seat-window-table> li> label> img{
    width: clamp(80px, 7.5vw, 150px);
    height: clamp(100px, 10vw, 180px);
}
.double-seat-window-table> li> label> input{
    display: none;
}
.double-seat-window-table> li> label> span{
    position: absolute;
    top: 38%;
    left: 33%;
    font-size: clamp(1.3rem, 1.4vw, 1.8rem);
}
.share-seat-table{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.share-seat-table> h3{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: clamp(1.5rem, 1.6vw, 2rem);
}
.group-center-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
}
.four-seats{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.four-seats> label> img{
    width: clamp(150px, 30vw, 400px);
    height: clamp(100px, 20vw, 300px);
}
.four-seats> label> input{
    display: none;
}
.four-seats> label> span{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: clamp(1.3rem, 1.4vw, 1.8rem);
}
.six-seats{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.six-seats> label> img{
    width: clamp(150px, 30vw, 400px);
    height: clamp(100px, 20vw, 300px);
}
.six-seats> label> input{
    display: none;
}
.six-seats> label> span{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: clamp(1.3rem, 1.4vw, 1.8rem);
}
.entrance-exit{
    display: flex;
    justify-content: end;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
}
.entrance-exit> button{
    position: absolute;
    background-color: goldenrod;
    font-size: clamp(1rem, 2.5vw, 3rem);
    padding: 5px 20px;
    left: 40%;
    color: black;
    border-radius: 0.25em;
}
.entrance-exit> button:hover{
    color: goldenrod;
    background-color: black;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.3s;
    cursor: pointer;
}
.entrance-exit> h3{
     font-size: clamp(1rem, 2.3vw, 3rem);
     margin-right: 30px;
}
.notice-section{
    background-color: goldenrod;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notice-section> *{
    margin-left: 50px;
}
.notice-section> p> a{
    color: white;
}
.single-window-table> li> label:hover,
.double-seat-window-table> li> label:hover,
.group-center-table> li> label:hover{
    cursor: pointer;
    font-weight: bolder;
    color: goldenrod;
}
.seat-full {
    opacity: 0.5;
    pointer-events: none;
}

.group-center-table span {
    display: block;
    font-size: 0.8rem;
    color: #000000;
}
body.no-scroll {
  overflow: hidden;
}
.form-panel-container{
    width: 100vw;
    height: 100vh;
    padding-bottom: 1em;
    display: none;
    flex-direction: column;
    justify-content: center;
    grid-gap: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    z-index: 9;
    animation: reserve 300ms ease-in-out;  
    transform: translate(50% 50%);
}
@keyframes reserve {
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}
.user-name-logged{
    width: 50%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}
#reserveForm{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    color: black;
    background-color: white;
    z-index: 999;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
#reserveForm> label{
    padding-top: 1em;
}
.reserve-button-container{
    width: 100%;
    display: flex;
}
.submit-reserve-button,
.close-reserve-button{
    width: 30%;
    margin: 0 auto;
    background-color: goldenrod;
    border: none;
    padding: 10px 0;
    border-radius: 0.25em;
    box-shadow: 2px 3px 6px #85746b;
}
@media only screen and (max-width: 599px){
    .single-seat-window{
        padding-top: 10px; 
    }
    .single-window-table{
        padding: 0;
    }
    .single-window-table> li> label> img{
        width: clamp(40px, 45px, 70px); 
        height: clamp(30px, 35px, 50px); 
    }
    .single-window-table> li> label> span{
        left: 20%; 
        font-size: clamp(0.9rem, 1.3vw, 1.8rem); 
    }
    .double-seat-window{
        padding-left: 10px; 
    }
    .double-seat-window> h3{
        display: none;
    }
    .double-seat-window-table{
        gap: 5px; 
        margin: 0; 
        padding: 0; 
    }
    .double-seat-window-table> li> label> img{
        width: clamp(40px, 40px, 60px);
        height: clamp(45px, 50px, 70px);
    }
    .double-seat-window-table> li> label> input{
        display: none;
    }
    .double-seat-window-table> li> label> span{
        left: 20%; 
        font-size: clamp(0.9rem, 1.4vw, 1.8rem); 
    }
    .share-seat-table> h3{
        top: 45%; 
        left: 35%; 
        font-size: clamp(1.2rem, 1.6vw, 2rem); 
    }
    .group-center-table{
        margin: 0; 
        padding: 0; 
    }
    .four-seats> label> img{
        width: clamp(130px, 30vw, 400px); 
        height: clamp(100px, 20vw, 300px);
    }
    .four-seats> label> span{
        top: 30%; 
        left: 45%; 
        font-size: clamp(1rem, 1.4vw, 1.8rem); 
    }
    .six-seats> label> img{
        width: clamp(110px, 130px, 400px); 
        height: clamp(100px, 20vw, 300px);
    }
    .six-seats> label> span{
        top: 30%; 
        left: 45%; 
        font-size: clamp(0.9rem, 1.4vw, 1.8rem); 
    }
    .entrance-exit> button{
        top: 10%; 
        left: 5%; 
    }
    .entrance-exit> h3{
         margin-right: 10px; 
    }
    .notice-section{
        padding: 10px 0 100px 0; 
    }
    .notice-section> *{
        margin-left: 20px; 
    }
    .user-name-logged{
        width: 90%; 
    }
    #reserveForm{
        width: 90%; 
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .single-seat-window{
        padding-top: 20px;
    }
    .single-window-table> li> label> span{
        top: 0;
        left: 25%; 
        font-size: clamp(1.1rem, 1.4vw, 1.8rem); 
    }
    .double-seat-window-table{
        gap: 10px;  
        margin: 0;
        padding: 0 0 0 10px; 
    }
    .double-seat-window-table> li> label> img{
        width: clamp(58px, 7vw, 150px); 
        height: clamp(74px, 8vw, 180px); 
    }
    .double-seat-window-table> li> label> span{
        top: 15%;
        left: 20%;
        font-size: clamp(1.1rem, 1.4vw, 1.8rem); 
    }
    .share-seat-table> h3{
        top: 45%; 
        left: 40%; 
    }
    .group-center-table{
        padding: 0; 
    }
    .four-seats> label> span{
        top: 25%;
        left: 47%; 
    }
    .six-seats> label> span{
        top: 25%;
        left: 47%; 
    }
    .notice-section{
        padding: 20px 0; 
    }
    .notice-section> *{
        margin: 0 10px 0 20px; 
    }
}


/*Signup HTML*/
.sign-up-form{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sign-up-form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 91%;
    margin: 0 auto;
    top: 5.5%;
    border: 1px gray solid;
    z-index: -1;
}
.sign-up-form> h3{
    font-size: clamp(1.3rem, 2vw, 2rem);
    padding-bottom: 20px;
    width: fit-content;
    margin-left: 2%;
    z-index: 1;
    background-color: white;
}
.sign-up-form> label{
    padding-bottom: 5px;
    font-size: clamp(1rem, 1.4vw, 3rem);
    width: 80%;
    margin: 0 auto;
}
.sign-up-form> input{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
}
.email-address-container,
.password-container{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.email-address-container> input,
.password-container> input{
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}
.toggle-password {
    position: absolute;
    top: 15%;
    right: 1%;
    cursor: pointer;
    color: lightgray;
}
.submit-button-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 50px 0;
    display: flex;
    justify-content: space-evenly;
}
.submit-button-container> button{
    padding: 5px 10px;
    font-size: clamp(1rem, 1.4vw, 2rem);
    border: none;
    background-color: goldenrod;
    border-radius: 0.25em;
}
.submit-button-container> button:hover{
    cursor: pointer;
    color: goldenrod;
    background-color: black;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.3s;
}

.error {
  color: red;
  font-size: 0.6rem;
  position: absolute;
  bottom: 15%;
  left: 0;
}
input.error-border {
  border: 2px solid red;
}
.taken {
  color: red;
  font-size: 0.6rem;
  position: absolute;
  bottom: 15%;
  left: 0;
}
.taken.error-border {
  border: 2px solid red;
}
@media only screen and (max-width: 599px){
    .sign-up-form{
        width: 90%; 
        padding-top: 0px; 
    }
    .sign-up-form> h3{
        background-color: unset; 
    }
    .sign-up-form> label{
        padding-bottom: 0px; 
    }
    .sign-up-form> input{
        margin-bottom: 10px; 
    }
    .email-address-container> input,
    .password-container> input{
        margin-bottom: 10px;
    }
    .submit-button-container{
        padding: 0px 0 50px 0; 
    }
    .submit-button-container> button{
        background-color: rgb(0, 0, 0); 
        color: whitesmoke; 
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .sign-up-form{
        margin: 50px auto 0 auto; 
    }
}
/*Login HTML*/
.login-form{
    width: 40%;
    margin: 20px auto 50px auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-form::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 85%;
    top: 11%;
    border: 1px gray solid;
    z-index: -1;
}
.login-form> h3{
    font-size: clamp(1.3rem, 2vw, 2rem);
    padding-bottom: 20px;
    background-color: white;
    z-index: 1;
    width: fit-content;
    margin-left: 2%;
}
.login-form> label{
    padding-bottom: 5px;
    font-size: clamp(1rem, 1.4vw, 3rem);
    width: 80%;
    margin: 0 auto;
}
.login-form> input{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
}
.login-password-container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
}
.login-password-container> input{
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}
.toggle-login-password{
    position: absolute;
    top: 15%;
    right: 1%;
    cursor: pointer;
    color: lightgray;
}
.login-button-container{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.login-button-container> button,
.login-button-container> a{
    border: none;
    background-color: goldenrod;
    padding: 5px 15px;
    font-size: clamp(0.7rem, 1.4vw, 2rem);
    border-radius: 0.25em;
    color: black;
}
.login-remember-me{
    width: 80%;
}
.login-remember-me> span{
    font-size: clamp(0.7rem, 1vw, 1.3rem);
    
}
.cancel-forgot-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.cancel-forgot-container> button{
    border: none;
    background-color: goldenrod;
    padding: 5px 15px;
    font-size: clamp(0.7rem, 1.4vw, 2rem);
    border-radius: 0.25em;
}
.login-button-container> button:hover,
.cancel-forgot-container> button:hover{
    cursor: pointer;
    color: goldenrod;
    background-color: black;
    background-color: rgba(0,0,0, 0.8);
    transition: 0.3s;
}
@media only screen and (max-width: 599px){
    .login-form{
        width: 90%;
        margin: 10px auto 50px auto;
        padding-top: 0;
    }
    .login-form> h3{
        background-color: unset;
    }
    .login-password-container{
        margin-bottom: 0px;
    }
    
    .login-button-container> button,
    .login-button-container> a{
        background-color: rgb(0, 0, 0);
        color: whitesmoke;
        font-size: 1rem;
    }
    .login-remember-me> span{
        font-size: clamp(0.8rem, 1vw, 1.3rem);
    }
    .cancel-forgot-container{
        padding: 10px 0 0 0;
    }
    .cancel-forgot-container> button{
        background-color: black;
        color: whitesmoke;
        font-size: clamp(1rem, 1.4vw, 2rem);
    }
     .logged-user-container{
        width: 100vw;
        height: 100vh;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        overflow: hidden;
        scroll-behavior: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
     .close-input-field-mobile{
       font-size: 2rem;
       font-weight: bolder;
       position: absolute;
       top: 1%;
       left: 5%;
     }
     .logged-user-container> h1{
       color: black;
       font-size: 2em;
       margin-top: 1.5em;
     }
    .user-icon-mobile{
       margin-top: 1em;
       width: 100px;
       height: 100px;
       border-radius: 50%;
       background-color: #000;
    }
    .logged-user-container> h2{
       margin-top: 1em;
    }
    .user-icon-mobile-container{
       width: 100vw;
       height: auto;
       display: flex;
       position: relative;
       justify-content: center;
    }
    .upload-image-button{
       position: absolute;
       width: 2em;
       top: 70%;
       left: 61%;
       z-index: 999;
    }
    .logged-user-container> button{
       margin-top: 1em;
       font-size: 1.2rem;
       padding: 5px 30px;
       background-color: goldenrod;
       border-radius: 0.25em;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .login-form{
        width: 70%; 
        margin: 50px auto 100% auto; 
    }
    .login-button-container> button,
    .login-button-container> a{
        font-size:  clamp(1rem, 1.4vw, 2rem); 
    }
    .login-remember-me> span{
        font-size: clamp(1rem, 1.4vw, 2rem); 
    }   
    .cancel-forgot-container> button{
        font-size:  clamp(1rem, 1.4vw, 2rem); 
    }
}